@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
  .section__pic-container img {
    object-fit: contain;
    border-radius: 10px 10px 10px 10px;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    z-index: 2;
    display: flex;
    margin-right: 30px;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(236, 227, 215);
    margin-top: 0px;
  }

  .hamburger-icon {
    margin-right: 30px;
  }

  .section__pic-container img {
    object-fit: contain;
    border-radius: 10px 10px 10px 10px;
  }

  #hamburger-nav {
    display: flex;
    margin-right: 30px;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
    margin-top: 100px;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  /* This line of code mess up the footer */

  /* #contact,
  footer {
    height: 40vh;
  } */
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }

  .title {
    /* margin-top: 10px; */
    margin-bottom: 10px;
  }

  /* #hamburger-nav {
    z-index: 2;
    display: flex;
    margin-right: 30px;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(236, 227, 215);
    margin-top: 0px;
  } */

  #about {
    margin-top: 100px;
  }
  .section__pic-container {
    /* width: 275px;
    height: 275px;
    margin: 0 auto 2rem; */
    margin-top: 150px;
  }

  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-weight: 700;
    transition: all 0.3s;
    font-size: 1.5rem;
    animation: logo 5s forwards 0.2s infinite ease-in-out;
  }

  @keyframes logo {
    from {
      color: rgb(157, 68, 240);
      transform: translateX(1px);
    }
    to {
      transform: translateX(10px);
      color: chocolate;
    }
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__pic-container img {
    object-fit: contain;
    border-radius: 50px 0 50px 0;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

@media screen and (max-width: 480px) {
  #hamburger-nav {
    display: flex;
    margin-right: 30px;
  }

  .about-containers {
    flex-direction: column;
  }

  .theme {
    margin-left: 100px;
  }
}
